textarea {
	resize: none;
	border: none;
	font-family: inherit;
}

form {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* height: 100vh; */
	justify-content: center;
	/* align-items: center; */

	margin-top: 50px;
}

form > div {
	display: flex;
	flex-direction: column;
	gap: 10px;

	border: 1px solid #d8d8d8;

	padding: 14px;
	border-radius: 5px;

	/* max-height: 78px; */

	letter-spacing: 1px;
}

input::placeholder,
input,
textarea {
	letter-spacing: 1px;
	font-size: 16px;
	outline: none;
	font-weight: 300;
}

input {
	border: none;
	font-weight: 200;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/* border: 1px solid green; */
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px #000 inset;
}

label {
	/* font-size: 12px; */
	font-size: 16px;
	letter-spacing: 2px;
}

form > div input {
	border: none;
}

.contactButton {
	letter-spacing: 1px;
	justify-content: center;
	font-family: inherit;
	/* min-width: 148px; */
    /* max-width: 400px; */
	padding: 15px 22px;
	font-weight: 500;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #0569ff;
	color: white;
	box-shadow: none; /* No shadow by default */
	transition: box-shadow 0.3s ease; /* Smooth transition for focus effect */
}

.contactButton:focus {
	/* outline: 1px solid red; */
	outline: none;
	box-shadow: 0 0 0 3px rgba(255, 87, 51, 0.5); /* Custom focus effect using box-shadow */
}
